/node_modules
/vendor
/.env
/.env.production
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/*
*.log
.DS_Store
Thumbs.db
/public/storage
.phpunit.result.cache
